[submodule "vpaint-git"]
	path = vpaint-git
	url = ssh+git://aur@aur.archlinux.org/vpaint-git.git/
[submodule "vpaint"]
	path = vpaint
	url = ssh+git://aur@aur.archlinux.org/vpaint.git/
[submodule "lib32-oniguruma"]
	path = lib32-oniguruma
	url = ssh+git://aur@aur.archlinux.org/lib32-oniguruma.git/
[submodule "cernvm-webapi"]
	path = cernvm-webapi
	url = ssh+git://aur@aur.archlinux.org/cernvm-webapi.git/
[submodule "spek-git"]
	path = spek-git
	url = ssh+git://aur@aur.archlinux.org/spek-git.git/
