[submodule "vpaint-git"]
    path = vpaint-git
    url = https://aur.archlinux.org/vpaint-git.git
    pushurl = ssh+git://aur@aur.archlinux.org/vpaint-git.git
[submodule "vpaint"]
    path = vpaint
    url = https://aur.archlinux.org/vpaint.git
    pushurl = ssh+git://aur@aur.archlinux.org/vpaint.git
[submodule "lib32-oniguruma"]
    path = lib32-oniguruma
    url = https://aur.archlinux.org/lib32-oniguruma.git
    pushurl = ssh+git://aur@aur.archlinux.org/lib32-oniguruma.git
[submodule "cernvm-webapi"]
    path = cernvm-webapi
    url = https://aur.archlinux.org/cernvm-webapi.git
    pushurl = ssh+git://aur@aur.archlinux.org/cernvm-webapi.git
[submodule "spek-git"]
    path = spek-git
    url = https://aur.archlinux.org/spek-git.git
    pushurl = ssh+git://aur@aur.archlinux.org/spek-git.git
[submodule "bedup"]
    path = bedup
    url = https://aur.archlinux.org/bedup.git
    pushurl = ssh+git://aur@aur.archlinux.org/bedup.git
[submodule "texlive-slashbox"]
    path = texlive-slashbox
    url = https://aur.archlinux.org/texlive-slashbox
    pushurl = ssh+git://aur@aur.archlinux.org/texlive-slashbox
[submodule "canmatrix-git"]
    path = canmatrix-git
    url = https://aur.archlinux.org/canmatrix-git.git
    pushurl = ssh+git://aur@aur.archlinux.org/canmatrix-git
[submodule "haskell-parsec-numbers"]
    path = haskell-parsec-numbers
    url = https://aur.archlinux.org/haskell-parsec-numbers.git
    pushurl = ssh://aur@aur.archlinux.org/haskell-parsec-numbers.git
[submodule "peak-linux-driver"]
    path = peak-linux-driver
    url = https://aur.archlinux.org/peak-linux-driver.git
    pushurl = ssh://aur@aur.archlinux.org/peak-linux-driver.git
[submodule "peak-linux-headers"]
    path = peak-linux-headers
    url = https://aur.archlinux.org/peak-linux-headers.git
    pushurl = ssh://aur@aur.archlinux.org/peak-linux-headers.git
[submodule "libpcanbasic"]
    path = libpcanbasic
    url = https://aur.archlinux.org/libpcanbasic.git
    pushurl = ssh://aur@aur.archlinux.org/libpcanbasic.git
[submodule "libpcanbasic-jni"]
    path = libpcanbasic-jni
    url = https://aur.archlinux.org/libpcanbasic-jni.git
    pushurl = ssh://aur@aur.archlinux.org/libpcanbasic-jni.git
[submodule "nanopb-git"]
    path = nanopb-git
    url = https://aur.archlinux.org/nanopb-git.git
    pushurl = ssh://aur@aur.archlinux.org/nanopb-git.git
[submodule "amlite"]
    path = amlite
    url = https://aur.archlinux.org/amlite.git
    pushurl = ssh://aur@aur.archlinux.org/amlitegit
[submodule "tagscanner"]
    path = tagscanner
    url = https://aur.archlinux.org/tagscanner.git
    pushurl = ssh://aur@aur.archlinux.org/tagscanner
[submodule "ti-pru-cgt"]
    path = ti-pru-cgt
    url = https://aur.archlinux.org/ti-pru-cgt.git
    pushurl = ssh://aur@aur.archlinux.org/ti-pru-cgt
[submodule "ti-pru-swpkg-git"]
    path = ti-pru-swpkg-git
    url = https://aur.archlinux.org/ti-pru-swpkg-git.git
    pushurl = ssh://aur@aur.archlinux.org/ti-pru-swpkg-git
[submodule "halcogen"]
	path = halcogen
	url = https://aur.archlinux.org/halcogen.git
    pushurl = ssh://aur@aur.archlinux.org/halcogen.git
[submodule "ccstudio-arm-gnu-rm-toolchain"]
    path = ccstudio-arm-gnu-rm-toolchain
    url = https://aur.archlinux.org/ccstudio-arm-gnu-rm-toolchain.git
    pushurl = ssh://aur@aur.archlinux.org/ccstudio-arm-gnu-rm-toolchain.git
[submodule "librseq-git"]
    path = librseq-git
    url = https://aur.archlinux.org/librseq-git.git
    pushurl = ssh://aur@aur.archlinux.org/librseq-git.git
